.cont{
   color: red;
}

html{
background-color: #eee1cf;
color: navy;
font-size: 100%;
}
.hello_first_letter{
   font-family: 'Splash', cursive;
}


.del_heder_logo{
   width: 100px;
   margin-top: 14px;
}

.lug{
   margin-left:50px;
   margin-right: auto;
   border-width: thick;
   border-style: solid;
}
.dev{
   margin-left:auto;
   margin-right: auto;   
   border-width: thick;
   border-style: solid;
}
.qua{
   margin-left:auto;
   margin-right: 50px;
   border-width: thick;
   border-style: solid;
}

.del_first_letter{
   font-family: 'Splash', cursive;
   font-family: 'Yellowtail', cursive;
}

/*中央を挟んで線対称にしたい(上から　右　左　右と)
空きスペースに画像をおきたい*/