<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" type="./images/ico" href="./images/back1.ico" width="20" heigh="20"
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deliverables</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body class="del-body">
    扱える技術<br>
    <table border="2" class="lug">
        <tr>
          <th>扱うことができるプログラミング言語</th>
        </tr>
        <tr>
          <td>Python(このサイトはFlaskで作られています)</td>
        </tr>
        <tr>
          <td>Ruby</td>
        </tr>
        <tr>
            <td>JavaScript(最新勉強し始めました)</td>
        </tr>
        <tr>
            <td>HTML</td>
        </tr>
        <tr>
            <td>CSS</td>
        </tr>     
    </table>


    取得した資格<br>
    <table border="2" class="qua">
        <tr>
          <th>取得した資格</th>
        </tr>
        <tr>
          <td>ITパスポート</td>
        </tr>
        <tr>
          <td>基本情報技術者試験(現在取得中)</td>
        </tr>
    </table>

    制作した成果物
    <table border="2" class="dev">
        <tr>
          <th>製作した成果物、参加したイベント</th>
          <th>制作時、参加時に使用した技術</th>
        </tr>

        <tr>
          <td>ブルートゥース攻撃の経過時間の計測をするデスクトップアプリ</td>
        <td>Python　(Tkinter)</td>
        </tr>

        <tr>
            <td>いま見ているWebページ</td>
            <td>Python (Flask),HTML,CSS</td>
        </tr>

        <tr>
            <td>技育ハッカソン</td>
            <td>???</td>
        </tr>
    </table>


</body>
</html>