<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" type="./images/ico" href="./images/back1.ico" width="20" heigh="20"
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intoroduction</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    <!--<link rel="stylesheet" href="./../static/css/style.css">-->
</head>
<body style="text-align: center" class="hello_body">
        
    <h1 class="header">Welcom to Kansan's Home Pege!</h1>
    <hr color="black">
    <img src="./images/back1.jpg" width="200" height="250"><br>
    <div class="explain">Hi I'm Kansan! I'm university student in Fuk now!<br>
    My hobby is watching baseball games!<br>
    I don't like English!! So,do not except so much!!!<br>
    If you want to see ,Click <b><a href="/deliverables">here!!</a></b></div><br>

    <hr color="black">
    <div class="cont">
    Contact  SNS
    </div>
    <a href="mailto:2011140063k@ed.fuk.kindai.ac.jp"><img src="./images/gmai.jpg" alt="Gmail" width="60" height="50"></a>
    <a href="https://github.com/kansan-kansan"><img src="./images/Git.png" alt="github" width="90" height="50"></a>
    <a href="https://twitter.com/a_kansan_kansan"><img src="./images/twitter_logo.png" alt="Twitter" width="60" height="60"></a>
    <hr color="black">
    <footer class="footer">
        *2022 Kanzawa
    </footer>
</body>
</html>