<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" type="./images/ico" href="./images/back1.ico" width="20" heigh="20"
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intoroduction</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body background="./images/back2.png" style="text-align: center">
    <h1>ようこそ!</h1>
    <hr color="black">
    <img src="./images/back1.png" width="200" height="250"><br>
    現在3回生!大学では情報学科所属中！<br>
    言語はPython,Ruby,JavaScriotを少し勉強中!<br>
    技術系の成果物一覧は<a href="./deliverables.html">こちらから!</a>


    <hr color="black">
    <div id="cont" class="cont">
    Contact  SNS
    </div>
    <a href="mailto:2011140063k@ed.fuk.kindai.ac.jp"><img src="./images/gmai.jpg" alt="Gmail" width="60" height="50"></a>
    <a href="https://github.com/kansan-kansan"><img src="./images/Git.png" alt="github" width="90" height="50"></a>
    <a href="https://twitter.com/a_kansan_kansan"><img src="./images/twitter_logo.jpg" alt="Twitter" width="60" height="60"></a>
    <hr color="black">
    <footer style="text-align: center">
        *2022 Kanzawa
    </footer>
</body>
</html>