<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intoroduction</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body background="./images/back2.png" style="text-align: center">
    <h1>Hello World!</h1>


    <hr color="black">
    <div id="cont" class="cont">
    Contact
    </div>
    <a href="mailto:2011140063k@ed.fuk.kindai.ac.jp"><img src="./images/gmai.jpg" alt="Gmail" width="50" height="50"></a>
    <a href="https://github.com/kansan-kansan"><img src="./images/Git.png" alt="Gmail" width="90" height="50"></a>
    <hr color="black">
    <footer style="text-align: center">
        *2022 Kanzawa
    </footer>
</body>
</html>