<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="./images/ico" href="./templates/images/back1.ico" width="20" heigh="20"
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>photos</title>
    <link rel="stylesheet" href="{{url_for('static',filename='./style.css')}}">

</head>
<body class="pho_body">
    Comming Soon!<br>
    Plese back click <b><a href="/hello">here</a></b>

    <hr color="black">
    <footer class="photo_footer">
        *2022 Kanzawa
    </footer>
</body>
</html>