<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="./images/ico" href="./templates/images/back1.ico" width="20" heigh="20"
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>photos</title>
    <link rel="stylesheet" href="{{url_for('static',filename='./style.css')}}">
</head>
<body class="pho_body">
    Plese back click <b><a href="/hello">here</a></b>
    京都の観光地の写真
    <div class="wrapper grid">
        <div class="item">
          <img src="./templates/images/kiyomizu6.jpg" alt="">
          <p>清水寺</p>
        </div>
        <div class="item">
          <img src="./templates/images/kamogawa.jpg" alt="">
          <p>鴨川の風景</p>
        </div>
        <div class="item">
          <img src="./templates/images/gosyo3.jpg" alt="">
          <p>御所の正面も写真</p>
        </div>
        
        <div class="item">
          <video controls width="400" height="400" src="./images/kiyomizu.mp4"></video>
          <p>写真キャプション</p>
        </div>
        <!--
        <div class="item">
          <img src="" alt="">
          <p>写真キャプション</p>
        </div>
        <div class="item">
          <img src="images/menu6.jpg" alt="">
          <p>写真キャプション</p>
        </div>
        <div class="item">
          <img src="images/menu7.jpg" alt="">
          <p>写真キャプション</p>
        </div>
        <div class="item">
          <img src="images/menu8.jpg" alt="">
          <p>写真キャプション</p>
        </div>
        <div class="item">
          <img src="images/menu9.jpg" alt="">
          <p>写真キャプション</p>
        </div>-->
      </div>    <hr color="black">
    <footer class="photo_footer">
        *2022 Kanzawa
    </footer>
</body>
</html>