<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="./images/ico" href="./templates/images/back1.ico" width="20" heigh="20"
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>photos</title>
    <link rel="stylesheet" href="{{url_for('static',filename='./style.css')}}">

</head>
<body class="pho_body">
    <!--Comming Soon!<br>
    Plese back click <b><a href="/hello">here</a></b>-->
    
    <div class="photo_whole"><!--写真全体のクラス-->
        京都の観光地の写真
        <div class="photo_item">
            <img src="./templates/images/kiyomizu6.jpg" alt="" width="350" height="300">
            <p><b>清水寺</b></p>
        </div>
        <div class="photo_item">
            <img src="./templates/images/kamogawa.jpg" alt="" width="350" height="300">
            <p><b>鴨川の風景</b></p>
        </div>
        <div class="photo_item">
            <img src="./templates/images/gosyo3.jpg" alt="" width="350" height="300">
            <p><b>御所の正面の写真</b></p>
        </div>
        <div class="photo_item">
            <video controls src="./templates/images/kiyomizu.mp4" width="350" height="300"></video>
            <p><b><!----></b></p>
        </div>
        <hr color="black">
        志賀島
        <div class="photo_item">
            <img src="" alt="">
            <p><b><!----></b></p>
        </div>
        <div class="photo_item">
            <img src="" alt="">
            <p><b><!----></b></p>
        </div>
        <div class="photo_item">
            <img src="" alt="">
            <p><b><!----></b></p>
        </div>
        <div class="photo_item">
            <img src="" alt="">
            <p><b><!----></b></p>
        </div>
        <div class="photo_item">
            <img src="" alt="">
            <p><b><!----></b></p>
        </div>        
    </div><!--写真全体のクラス-->
    <hr color="black">
    <footer class="photo_footer">
        *2022 Kanzawa
    </footer>
</body>
</html>